@use "sass:color";
@use '../../resources/styling/common/_colors.scss' as *;

$contour : #d4d4d4;
$contour_active : #9c9c9c;


.json-deep-diff {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: monospace;
    box-sizing: border-box;

    --background-color: #f2f2f2;

    border: 1px solid $contour_active;

    & > * {
        height: 100%;
        overflow-y: hidden;
        // all containers need to have the same scroll-height canvas, otherwise scroll-sync breaks
        // the horizontal scrollbar appears to be important for this
        // try commenting this line and scroll to bottom - see how the expander element is misplaced
        overflow-x: scroll;
    }
}


.json-deep-diff-expander {
    --expander-width: 2.5ch;

    width : var(--expander-width);

    .json-deep-diff-content {
        margin-right: 0.5ch;
        height: 100%;
    }

    & > .json-deep-diff-content, & > .json-deep-diff-content > .json-deep-diff-content-root {
        background-color: var(--background-color);
    }

    user-select: none;

    //scrollbar-color: auto #f2f2f2;
    //
    //&::-webkit-scrollbar-track {
    //    background: #f2f2f2;
    //}
}

.json-deep-diff-middle {
    width : 30px;
    text-align: center;
    color: $contour_active;

    border-left: 1px solid $contour;
    border-right: 1px solid $contour;
    background-color: var(--background-color);

    & > .json-deep-diff-content {
        height: 100%;
    }

    margin-left: 0.5ch;
    margin-right: 0.5ch;

    //scrollbar-color: auto #f2f2f2;
    //
    //&::-webkit-scrollbar-track {
    //    background: #f2f2f2;
    //}
}

.json-deep-diff-left, .json-deep-diff-right {
    flex : 1;
    min-width: 0;
    position: relative;

    overflow: auto;
}

.json-deep-diff-content {
    word-break: break-all;
    line-height: 1.5em;
}

diff-inner {
    display: block;
    padding-left: 2ch;
}

diff-entry {
    display: block;
}


diff-expander {
    display: block;
    position: relative;

    &:hover {
        & diff-expander-line {
            display: none;
        }

        & > diff-expander-line {
            display: block;
        }
    }


    & diff-expander-line {
        position: absolute;
        width: 100%;
        height: 100%;

        border-right: 1px solid;

        border-right-color: $contour;
    }

    & > diff-expander-controls {
        position: absolute;
        width: 100%;
        height: 100%;

        &:hover {
            & > diff-expander-opener, & > diff-expander-closer {
                color: $contour_active;
                right: -0.5ch;
            }

            border-right: 1px solid $contour_active;
        }

        & > diff-expander-opener, & > diff-expander-closer {
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            font-size: 0.6em;
            position: absolute;
            color: $contour;
            cursor: pointer;
            //left: calc(var(--expander-width) - 0.5ch);
            right: calc(-0.5ch + 1px);

            &:before {
                font-weight: 900;
                content: "\f0c8";
                position: absolute;
                left: 0;
                top: 0;
                z-index: -1;
                // TODO, IMPORTANT: should match the widget's background-color
                // this is to hide the border
                color: #fefefe;
            }
            z-index: 1;
        }

        & > diff-expander-opener {
            top: 0;
            &:after {
                content: "\f146";
            }
        }

        & > diff-expander-closer {
            bottom: 0;
            &:after {
                content: "\f146";
            }
        }
    }
}

.diff-entry-collapsed {
    height: 1.5em !important;

    & > diff-expander > diff-expander-controls {
        & > diff-expander-opener {
            &:after {
                content: "\f0fe";
            }
        }

        & > diff-expander-closer {
            display: none;
        }
    }
}

.diff-collapsed {
    & > diff-inner {
        display: inline;
        padding-left: 0;

        & * {
            display: none;
        }

        &:before {
            content: '…'
        }
    }

    & diff-entry {
        display: none;
    }
}

//[same=false] {
//    color : $primary_fail_darker;
//}
[same=true] {
    color : $gray;
}
