@use "sass:color";
@use '../../resources/styling/common/_colors.scss' as *;

$contour : #d4d4d4;
$contour_active : #9c9c9c;
$body_background_color: #fefefe;

.json-deep-diff {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    font-family: "JetBrains Mono", monospace;
    box-sizing: border-box;

    --background-color: #f2f2f2;

    border: 1px solid $contour_active;

    & > * {
        height: 100%;
        overflow-y: hidden;
        // all containers need to have the same scroll-height canvas, otherwise scroll-sync breaks
        // the horizontal scrollbar appears to be important for this
        // try commenting this line and scroll to bottom - see how the expander element is misplaced
        overflow-x: scroll;
    }

    overflow: hidden;
}


.json-deep-diff-expander {
    --expander-width: 2.5ch;

    width : var(--expander-width);

    .json-deep-diff-content {
        margin-right: 0.5ch;
        height: 100%;
    }

    & > .json-deep-diff-content, & > .json-deep-diff-content > .json-deep-diff-content-root {
        background-color: var(--background-color);
    }

    user-select: none;

    //scrollbar-color: auto #f2f2f2;
    //
    //&::-webkit-scrollbar-track {
    //    background: #f2f2f2;
    //}
}

.json-deep-diff-middle {
    text-align: center;
    color: $contour_active;

    // if no indices has been rendered, still keep the inner content at 1 char, plus 2 chars for padding (border-box)
    min-width: 3ch;

    border-left: 1px solid $contour;
    border-right: 1px solid $contour;
    background-color: var(--background-color);

    & > .json-deep-diff-content {
        height: 100%;
    }

    margin-left: 0.5ch;
    margin-right: 0.5ch;
    padding-left: 1ch;
    padding-right: 1ch;

    //scrollbar-color: auto #f2f2f2;
    //
    //&::-webkit-scrollbar-track {
    //    background: #f2f2f2;
    //}

    user-select: none;

    cursor: col-resize;

    .json-deep-diff-middle-index {
        font-size: 0.7em;
        vertical-align: top;
    }
}

.json-deep-diff-left, .json-deep-diff-right {
    flex : 1;
    min-width: 0;
    position: relative;

    overflow: scroll;

    background-color: transparent;
    & * {
        background-color: inherit;
    }
}

.json-deep-diff-highlighter {
    position: absolute;
    width: 100%;
    height: 0px;
    pointer-events: none;
    background-color: rgba($gray_lighter, 0.15);
}

.json-deep-diff-content {
    word-break: break-all;
    line-height: 1.5em;
    // required for highlighter positioning
    position: relative;
}

diff-inner {
    display: block;
    padding-left: 2ch;
    border-left: 1px solid $gray_lighter;
}

.json-deep-diff-content-root > diff-entry > * > diff-inner {
    border-left: none;
}

diff-entry {
    display: block;
}

diff-expander-inner {
    display: block;
    position: relative;

    & > diff-expander-controls {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        & > diff-expander-opener, & > diff-expander-closer {
            font-family: 'Font Awesome 5 Free';
            font-weight: 400;
            position: absolute;
            width: 100%;
            height: 1.5em;

            left: 0;

            color: $contour;
            cursor: pointer;

            &:after {
                font-size: 0.6em;
                position: absolute;
                right: calc(-1 * var(--control-width) / 2 + 1px);
            }

            &:before {
                font-size: 0.6em;
                position: absolute;

                font-weight: 900;
                content: "\f0c8";

                right: calc(-1 * var(--control-width) / 2 + 1px);

                z-index: -1;
                // TODO, IMPORTANT: should match the widget's background-color
                // this is to hide the border
                color: $body_background_color;
            }
            z-index: 1;
        }

        & > diff-expander-opener {
            top: -1.5em;
            &:after {
                content: "\f146";
            }
        }

        & > diff-expander-closer {
            bottom: -1.5em;
            &:after {
                content: "\f146";
            }
        }
    }


    //& diff-expander-line {
    //    position: absolute;
    //    top: 0;
    //    left: 0;
    //
    //    width: 100%;
    //    height: 100%;
    //
    //    border-right: 1px solid;
    //    border-right-color: $contour;
    //}
}

diff-expander {
    //display: block;
    position: relative;

    --control-width: 1ch;

    & .diff-collapsed {
        position: unset;
    }

    //&:hover {
    //    & diff-expander-line {
    //        display: none;
    //    }
    //
    //    & > diff-expander-line {
    //        display: block;
    //    }
    //}


    //& diff-expander-line {
    //    position: absolute;
    //    width: 100%;
    //    height: 100%;
    //
    //    border-right: 1px solid;
    //
    //    border-right-color: $contour;
    //}

    //& > diff-expander-controls {
    //    position: absolute;
    //    width: 100%;
    //    height: 100%;
    //
    //    &:hover {
    //        & > diff-expander-opener, & > diff-expander-closer {
    //            color: $contour_active;
    //            right: calc(-1 * var(--control-width) / 2);
    //        }
    //
    //        border-right: 1px solid $contour_active;
    //    }
    //
    //    & > diff-expander-opener, & > diff-expander-closer {
    //        font-family: 'Font Awesome 5 Free';
    //        font-weight: 400;
    //        font-size: 0.6em;
    //        position: absolute;
    //        color: $contour;
    //        cursor: pointer;
    //        right: calc(-1 * var(--control-width) / 2 + 1px);
    //
    //        &:before {
    //            font-weight: 900;
    //            content: "\f0c8";
    //            position: absolute;
    //            left: 0;
    //            top: 0;
    //            z-index: -1;
    //            // TODO, IMPORTANT: should match the widget's background-color
    //            // this is to hide the border
    //            color: #fefefe;
    //        }
    //        z-index: 1;
    //    }
    //
    //    & > diff-expander-opener {
    //        top: 0;
    //        &:after {
    //            content: "\f146";
    //        }
    //    }
    //
    //    & > diff-expander-closer {
    //        bottom: 0;
    //        &:after {
    //            content: "\f146";
    //        }
    //    }
    //}
}

// in 2022, conditional CSS is still actual
// some mess with the font-awesome font width
// chrome treats every char as single, FF as 2 chars
@-moz-document url-prefix() {
    diff-expander {
        --control-width: 2ch;
    }
}


//.diff-entry-collapsed {
//    //height: 1.5em !important;
//
//    & > diff-expander > diff-expander-inner > diff-expander-controls {
//        & > diff-expander-opener {
//            &:after {
//                content: "\f0fe";
//            }
//        }
//
//        & > diff-expander-closer {
//            display: none;
//        }
//    }
//}

.json-deep-diff-expander .json-deep-diff-content-root > diff-entry > diff-expander.diff-collapsed {
    display: block;
}

.json-deep-diff-expander .diff-collapsed {
    //display: block;
    z-index: 0;

    &:before {
        font-family: 'Font Awesome 5 Free';
        font-weight: 900;
        color: $body_background_color;
        font-size: 0.6em;
        content: "\f0c8";
        position: absolute;
        //right: calc(-0.5ch + 1px);
        right: calc(-1 * var(--control-width) / 2 + 1px);
        z-index: 0;
    }

    &:after {
        font-family: 'Font Awesome 5 Free';
        font-weight: 400;
        color: $contour;
        font-size: 0.6em;
        content: "\f0fe";
        position: absolute;
        //right: calc(-0.5ch + 1px);
        right: calc(-1 * var(--control-width) / 2 + 1px);
        z-index: 2;
    }

    & > diff-expander-inner {

        //& > diff-expander-controls {
        //    & > diff-expander-opener {
        //        &:after {
        //            content: "\f0fe";
        //        }
        //    }
        //
        //    & > diff-expander-closer {
        //        display: none;
        //    }
        //}
        display: none;
    }
}

.diff-collapsed {
    & > diff-inner {
        display: inline;
        padding-left: 0;
        border-left: none;

        & * {
            display: none;
        }

        &:before {
            content: '…'
        }
    }

    & diff-entry {
        display: none;
    }
}


missing_value {
    &:before {
        content: "░";
    }
}

span.json-deep-diff-zero-width-space:before {
    content: "\200B";
}

//[same=false] {
//    color : $primary_fail_darker;
//}
[same=true] {
    color : $gray;
}
