@use '../../../resources/styling/common/_colors.scss' as *;

.s-dashboard-no-selection {
    text-align: center;
}


.project-plan-bbar {
    background-color: $deccent_lighter_2;

    & .icon {
        transition: background-color ease 1s;
        border-radius: 50%;
    }
}

.project-plan-bbar > .icon:hover {
    background-color: rgba($deccent_lighter_3, 0.5);
}


.icon-play-checked {
    position: relative;
}


.icon-play-checked .icon {
    position: absolute;
    right: 0;
    bottom: 0;
}

.icon-play-all {
    position: relative;

    & > i {
        margin-left: -0.6rem;
    }
}

.icon-play-all .icon {
    position: absolute;
    left: 0.5rem;
}
