@use '../../../resources/styling/common/_colors.scss' as *;

.project-plan {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    border-bottom: 1px solid;
    border-bottom-color: $deccent;
}


.project-plan tree {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.project-plan-test {
    cursor: pointer;
    line-height: 1.7em;
}

.project-plan-folder {
    cursor: pointer;
}

.project-plan-folder-title {
    font-weight: bolder;
}

.project-plan-test-title:hover {
    text-decoration: underline dashed;
}

.project-plan-test.is-selected > * {
    position: relative;
}

.project-plan-test.is-selected::before {
    background-color: $secondary_pass_lighter_2;
    content: '\00a0';

    display: block;
    position: absolute;

    width: 100%;
    left: 0;
    pointer-events: none;
}

.project-plan-folder.failed > .title-icon {
    color: $primary_fail;
}

.project-plan-folder.passed > .title-icon {
    color: $primary_pass;
}

.project-plan-folder.running > .title-icon {
    color: $secondary_pass_darker;
}


.project-plan-test-icon.failed, .project-plan-test-icon.exception {
    color: $primary_fail;
}

.project-plan-test-icon.passed {
    color: $primary_pass;
}

.project-plan-test-icon.started, .project-plan-test-icon.running {
    color: $secondary_pass_darker;
}
