.project-plan {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.project-plan tree {
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.project-plan-test:hover {
    color:  red;
}
