.project-plan {
    overflow-x: hidden;
    overflow-y: auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
}


.project-plan tree {
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.project-plan-test {
    cursor: pointer;
}

.project-plan-folder {
    cursor: pointer;
}

.project-plan-test:hover {
    color: #a33d3d;
}

.project-plan-test.is-selected::before {
    background-color: #00b89c;
    content: '\00a0';

    display: block;
    position: absolute;
    z-index: -1;

    width: 100%;
    left: 0;
    pointer-events: none;
}
