body {
    background-color: black;
    color: white;
}

ul {
    padding-inline-start: 20px;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
}

.assertion {
    color: white;
}

.assertion_name {
    font-family: monospace;
    color: gray;
}

.assertion_source {
    color : gray;
}

.assertion_source_line {
    color : yellow;
}

.assertion_source_file {
    color : cyan;
}

.is_deeply_difference {
    color : gray;
}


.is_deeply_difference_key_path {
    color: white;
}
