/*

Supported styles:

- `color`, as
    color   : rgb(11, 22, 33)
    color   : #abcdef
    color   : white

- `background-color` in the same format

- `text-decoration: underline` (the only recognized value is `underline`)

*/

.project_title {
    text-decoration: underline
}

.test_file_url_dirname {
    color   : gray;
}

.test_file_url_filename {
    color   : whitesmoke;
}

.test_file_pass {
    color               : black;
    background-color    : #2a9d8f;
}

.test_file_fail {
    color               : black;
    background-color    : #e76f51;
}

.test_file_runs {
    color               : black;
    background-color    : #E9C46A;
}

.sub_test_pass {
    color               : #2a9d8f;
}

.sub_test_fail {
    color               : #e76f51;
}


.assertion_icon_pass {
    color               : #2a9d8f;
}

.assertion_icon_fail {
    color               : #e76f51;
}

.assertion_name {
    color: #AF8F37;
}

.assertion_source_line {
    color : #AF8F37;
}

.assertion_description {
    color : whitesmoke
}


.log_message_icon {
    color : #f4a261;
}


.log_message_error {
    background-color : #e76f51;
    color: black;
}

.log_message_warn {
    background-color : #f4a261;
    color: black;
}

.log_message_log {
    background-color : #e9c46a;
    color: black;
}

.log_message_debug {
    background-color : #2a9d8f;
    color: black;
}

.log_message_info {
    background-color : #264653;
    color: black;
}


.difference_key_path {
    color   : white;
}


.summary_tests_passed {
    color : #2a9d8f
}

.summary_tests_failed {
    color : #e76f51
}

.progress_bar_completed_passed {
    background-color: #2a9d8f;
}

.progress_bar_completed_failed {
    background-color: #e76f51;
}
