@use './reset.scss';

@use '../../../../src/siesta/ui/components/TreeComponent.scss';
@use '../../../../src/siesta/ui/components/Splitter.scss';
@use '../../../../src/siesta/ui/ProjectPlanComponent.scss';
@use '../../../../src/siesta/ui/Dashboard.scss';


.test_file_pass, .test_file_fail {
    padding-left: 1ch;
    padding-right: 1ch;
}

.indented {
    margin-left: 1rem
}

pre {
    padding : 0;
    font-family: "JetBrains Mono", monospace, serif;
    margin-top: 1em;
}
