/*

Only supports selectors from a single class name for now:

    .some_class {}

Any other selectors like: '.some_class .another_class' are explicitly not supported

Supported styles:

- `color`, as
    color   : rgb(11, 22, 33)
    color   : #abcdef
    color   : white

- `background-color` in the same format

- `text-decoration: underline` (the only recognized value is `underline`)

- `font-weight: bold` (the only recognized value is `bold`)

*/


//-------------------------------------------------------------------------
// Utility-first part

@use '../common/_colors.scss' as *;

.underline {
    text-decoration: underline
}

.gray {
    color: $gray;
}

.secondary_pass {
    color: $secondary_pass;
}

.secondary_pass_lighter {
    color: $secondary_pass_lighter;
}

.secondary_fail {
    color: $secondary_fail;
}

.primary_pass {
    color: $primary_pass
}

.primary_pass_lighter {
    color: $primary_pass_lighter
}

.primary_fail {
    color: $primary_fail
}

.primary_fail_darker {
    color: $primary_fail_darker
}

.secondary_pass_lighter {
    color: $secondary_pass_lighter;
}

.accented {
    font-weight: bold;
}

.deccented {
    color: $deccent;
}


//-------------------------------------------------------------------------
// semantic part

.project_title {
    text-decoration: underline
}

.test_file_url_dirname {
    color: $gray;
}

.test_file_url_filename {
    font-weight: bold;
}

.test_file_pass {
    color: $black;
    background-color: $primary_pass;
}

.test_file_fail {
    color: $black;
    background-color: $primary_fail;
}

.test_file_runs {
    color: $black;
    background-color: $secondary_pass;
}

.sub_test_pass {
    color: $primary_pass;
}

.sub_test_fail {
    color: $primary_fail;
}

.assertion_icon_pass_todo {
    color: $secondary_fail;
}

.assertion_icon_pass {
    color: $primary_pass;
}

.assertion_icon_fail {
    color: $primary_fail;
}

.assertion_name {
    color: $secondary_pass;
}

.assertion_source_line {
    color: $secondary_pass;
}

.assertion_description {
    font-weight: bold;
}


.log_message_icon {
    color: $secondary_fail;
}

.log_message_error {
    background-color: $primary_fail;
    color: $black;
}

.log_message_warn {
    background-color: $secondary_fail;
    color: $black;
}

.log_message_log {
    background-color: $secondary_pass;
    color: $black;
}

.log_message_debug {
    background-color: $primary_pass;
    color: $black;
}

.log_message_info {
    background-color: $deccent;
    color: $black;
}

.exception_icon {
    background-color: $primary_fail;
    color: $black;
}


.summary {
    font-weight: bold;
}

.summary_tests_passed {
    color: $primary_pass
}

.summary_tests_failed {
    color: $primary_fail
}

.progress_bar_completed_passed {
    background-color: $primary_pass_darker;
}

.progress_bar_completed_failed {
    background-color: $primary_fail_darker;
}


.typename {
    color: $secondary_pass;
}


.tree_line {
    color: $gray;
}

.accented_value {
    color: $secondary_pass_lighter;
}

.option_name {
    font-weight: bold;
}

.option_group_name {
    color: $primary_pass;
    font-weight: bold;
}
