@use './reset.scss';

@use '../../../../src/siesta/ui/components/TreeComponent.scss';
@use '../../../../src/siesta/ui/components/Splitter.scss';
@use '../../../../src/siesta/ui/ProjectPlanComponent.scss';
@use '../../../../src/siesta/ui/Dashboard.scss';
@use '../../../../src/siesta/ui/RippleEffectManager.scss';
@use '../../../../src/siesta/ui/test_result/TestResult.scss';
@use '../../../../src/siesta/ui/test_result/TestOverlay.scss';
@use '../../../../src/siesta/ui/test_result/Translator.scss';
@use '../../../../src/siesta/ui/test_result/LaunchInfoComponent.scss';

@use '../../../../src/compare_deep/JsonDeepDiffComponent.scss';
@use '../../../../src/serializer2/SerialComponent.scss';

@use '../../terminal/_styling.scss';

@use '../../common/_colors.scss' as *;

.test_file_pass, .test_file_fail, .test_file_runs {
    font-family: "JetBrains Mono", monospace, serif;
    padding-left: 1ch;
    padding-right: 1ch;
}

// is this class used?? should be `padding-left : 2ch` probably?
//.indented {
//    margin-left: 1rem
//}

pre {
    padding: 0;
    font-family: "JetBrains Mono", monospace, serif;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}


.s-iframe {
    background-color: #f6f6f6;
}


.icon.ripple {
    border-radius: 50%;
}


.exception_icon {
    padding-left: 1ch;
    padding-right: 1ch;
}
